@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} 

body{
    width: 375px;
    background: #F3F3F3;
    margin: 0 auto;
}

.parteTopo{
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px 0 22px;
}

.logoUOL{
    width: 75px;
    height: 53px;
}

.escreverMensagem{

    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17px 0 18px;
}

.textoMensagem{
    border: none;
    width: 80%;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

input::placeholder{
    font-style: italic;

}

input:focus{
    outline: none;

}

.escreverMensagem > img{
    height: 26px;
    width: 26px;
}

main{
    overflow-y:scroll;
    overflow-x: hidden;
    margin-top:26px;
    height:587px;
    width: 375px;
    font-size: 14px;
    line-height: 16px;
}

.caixa{
    width:100%;
    min-height:40px;
    border-radius: 2px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom:4px;
    padding: 4px 8px;
}

.chat{
    display:flex;
    flex-wrap: wrap;
    word-break: break-all;
}

.entrar{
    background-color: #DCDCDC;
}

.digitar{
    background-color: #FFFFFF;;
}

.chat h2{
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding-left:8px;
    padding-right:8px;
}
.chat h4{
    color:#AAAAAA;
    font-style: normal;
    display: flex;
    align-items: center;
}

.chat b{
    font-weight: 700;
}



