@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    width: 375px;
    margin: 0 auto;
    background: #F3F3F3;
}

.parteTopo{
    box-sizing: border-box;
    width: 375px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px 0 22px;
}

.conteudoPagina{
    background-color: #F3F3F3;
    width: 375px;
    height:587px; 
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border-radius: 2px;
}

.logoUOL{
    width: 75px;
    height: 53px;
}

.escreverMensagem{
    box-sizing: border-box;
    width: 375px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17px 0 18px;
}

.textoMensagem{
    border: none;
    width: 300px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

input::placeholder{
    font-style: italic;

}

input:focus{
    outline: none;

}

.escreverMensagem > img{
    height: 26px;
    width: 26px;
}

.mensagensStatus{
    box-sizing: border-box;
    width: 375px;
    min-height: 40px;
    display: flex;
    align-items: center; 
    padding: 8px 9px 9px 8px;
    background-color: #AAAAAA;
    margin-top: 20px;
    border-radius: 2px;
}

.mensagens{
    box-sizing: border-box;
    width: 375px;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 8px 9px 9px 8px;
    background-color: #FFFFFF;
    border-radius: 2px;
}
